@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'principal';
  src: url('../fonts/moon_get-Heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --fonteprincipal: 'principal', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

header {
  background-color: #182C61;
}

#largura-menu {
  width: 90%;
  margin: auto;
}

header h1 {
  font-family: var(--fonteprincipal);
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 20px 0px;
  font-size: 1.5em;
}

.material-icons {
  display: block;
  color: white;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: 2em;
  cursor: pointer;
}

header #items {
  display: none;
}

header > #largura-menu > nav > ul {
  list-style-type: none;
}

header > #largura-menu > nav > ul > li > a {
  display: block;
  font-family: var(--fonteprincipal);
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  background-color: #182C61;
  padding: 15px 0px;
  text-align: center;
  border-bottom: 1px solid #1f3779;
  font-size: .8em;
}

header > #largura-menu > nav > ul > li > a:hover {
  background-color: #111f45;
  transition-duration: .3s;
}

main {
  width: 100vw;
}

#sobre {
  position: relative;
  width: 90%;
  height: 500px;
  margin: 10px auto;
  padding-top: 10px;
}

#imagem {
  display: block;
  background: black url('../imagens/loja.jpg') center center no-repeat;
  background-size: cover;
  height: 50%;
  width: 100%;
}

#texto {
  padding: 10px;
}

#texto > h2 {
  text-align: center;
  font-family: var(--fonteprincipal);
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 10px 0px;
  color: #182C61;
}

#texto > p {
  color: #182C61;
  margin: 5px 0px;
}

.icones {
  width: 60%;
  height: 20px;
  text-align: center;
  margin: 20px auto;
}

.icones > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 100%;
}

.icones > ul > li {
  display: inline-block;
  width: 33%;
  height: 100%;
}

.icones > ul > li > img {
  width: 70%;
  height: 100%;
}

#play {
  width: 40%;
  height: 100%;
}

#contato {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#formulario {
  width: 80%;
  margin: auto;
}

#contato > h2 {
  text-align: center;
  font-family: var(--fonteprincipal);
  font-size: 1.2em;
  text-transform: uppercase;
  color: #182C61;
}

#formulario > h2 {
  color: #182C61;
  font-family: var(--fonteprincipal);
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

#formulario > form {
  width: 100%;
  margin: auto;
}

#formulario > form > p > input {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  padding-left: 10px;
}

#formulario > form > p > textarea {
  width: 100%;
  padding: 5px 10px;
}

input[type='submit'] {
  width: 100%;
  height: 50px;
  border: none;
  background-color: #182C61;
  color: white;
  font-family: var(--fonteprincipal);
  text-transform: uppercase;
  font-size: .7em;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #314E9E;
}

input[type='text']:focus-within {
  outline-color: #182C61;
}

input[type='email']:focus-within {
  outline-color: #182C61;
}

input[type='tel']:focus-within {
  outline-color: #182C61;
}

textarea:focus-within {
  outline-color: #182C61;
}

#redes-sociais {
  text-align: center;
  width: 100%;
  height: 100px;
  margin-top: 50px;
}

#redes-sociais > h2 {
  font-family: var(--fonteprincipal);
  text-transform: uppercase;
  font-size: 1em;
  color: #182C61;
}

#redes-sociais > ul {
  list-style-type: none;
  list-style-position: inside;
  margin-top: 25px;
}

#redes-sociais > ul > li {
  display: inline;
  margin: 5px;
}

#redes-sociais > ul > li > a > img {
  width: 30px;
}

#redes-sociais > ul > li > a > img#youtube {
  width: 70px;
}

#endereco {
  width: 100%;
  height: 100px;
  margin-top: 50px;
}

#endereco > h2 {
  font-family: var(--fonteprincipal);
  font-size: 1em;
  text-transform: uppercase;
  color: #182C61;
  text-align: center;
}

#endereco > p {
  color: #182C61;
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color: #182C61;
  color: white;
  width: 100%;
  height: 50px;
  line-height: 50px; 
  text-align: center;
}

footer > p {
  font-size: .9em;
}

#burguer:hover {
  background-color: #111f45;
  transition-duration: .3s;
}