@charset "UTF-8";

/* Typical Device Breakpoints 

-----------------------------

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {

  header {
    height: 70px;
  }

  #largura-menu {
    display: flex;
    align-items: center;
    height: 70px;
  }

  header h1 {
    text-align: left;
    font-size: 1.2em;
    padding: 0px;
    width: 50%;
  }

  #burguer {
    display: none;
  }

  header #items {
    display: block;
    width: 50%;
  }

  header > #largura-menu > nav > ul {
    float: right;
  }

  header > #largura-menu > nav > ul > li {
    display: inline-block;
    list-style-type: none;
  }

  header > #largura-menu > nav > ul > li > a {
    padding: 0px;
    font-size: .9em;
    margin-left: 15px;
    border: none;
  }

  header > #largura-menu > nav > ul > li > a:hover {
    background-color: transparent;
  }

  #sobre {
    height: 400px;
    padding: 0px;
    margin-top: 20px;
    width: 90%;
  }

  #imagem {
    float: left;
    height: 90%;
    width: 50%;
  }

  #texto {
    float: right;
    height: 100%;
    width: 50%;
    padding: 10px 0px 0px 20px;
  }

  #texto > h2 {
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
  }

  .icones {
    width: 80%;
    text-align: left;
    float: left;
    margin: 10px auto;
  }

  #contato {
    height: 500px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  #dados {
    height: 85%;
  }

  #formulario {
    float: left;
    width: 50%;
    height: 100%;
  }

  form {
    float: left;
  }

  #formulario > h2 {
    padding: 0px;
    padding-bottom: 20px;
    text-align: left;
  }

  #demais-contatos {
    float: right;
    width: 50%;
    height: 100%;
    margin: 0px;
  }

  #demais-contatos > div > h2 {
    text-align: left;
  }

  #demais-contatos ul {
    float: left;
    width: 150px;
    height: 25px;
  }

  #demais-contatos #logo-youtube {
    width: 100%;
  }

  #demais-contatos li {
    text-align: left;
    padding: 0px;
  }

  #largura-rodape {
    width: 90%;
    margin: auto;
  }

  footer p {
    text-align: left;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 115px;
  }

  header #items {
    display: block;
    width: 50%;
    text-align: right;
  }

  #largura-menu {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  #burguer {
    display: none;
  }

  header > #largura-menu > nav > ul > li {
    display: inline;
  }

  header > #largura-menu > nav > ul > li > a {
    display: inline;
    width: 150px;
    border: none;
    margin-left: 5px;
    font-size: .9em;
  }

  header > #largura-menu > nav > ul > li > a:hover {
    background-color: transparent;
  }

  header h1 {
    width: 50%;
    text-align: left;
    padding: 0px;
  }

  #sobre {
    width: 85%;
    margin-top: 15px;
  }

  #imagem {
    width: 50%;
    height: 100%;
    float: left;
  }

  #texto {
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 30px; 
    text-align: left;
    background-color: white;
  }

  #texto > h2 {
    text-align: left;
  }

  .icones {
    float: left;
    width: 50%;
    height: 25px;
    margin: 10px auto;
  }

  .icones > ul > li {
    width: 33%;
  }

  .icones > ul > li > img {
    height: 100%;
    width: 90%;
  }

  #play {
    float: left;
    padding-left: 5px;
  }

  #texto > h2 {
    margin-bottom: 30px;
  }

  #contato {
    width: 85%;
    height: 500px;
  }

  #dados {
    width: 100%;
    height: 90%;
  }

  #formulario {
    width: 40%;
    height: 100%;
    float: left;
    padding: 0px 10px;
    padding-top: 30px;
  }

  #formulario > h2 {
    text-align: left;
    padding: 0px;
    padding-bottom: 30px;
    font-size: .9em;
  }

  form {
    margin-left: 0px;
    text-align: left;
  }

  input[type='text'], input[type='email'], input[type='tel'], input[type='submit'], textarea {
    width: 80%;
  }

  #demais-contatos {
    width: 60%;
    height: 100%;
    float: right;
    margin: 0px;
    display: flex;
  }

  #demais-contatos > div {
    width: 50%;
    padding-top: 30px;
  }

  #demais-contatos > div > h2 {
    text-align: left;
    margin-bottom: 10px;
    font-size: .9em;
  }

  #demais-contatos > div > ul {
    float: left;
    height: 25px;
    width: 45%;
  }

  #demais-contatos > div > ul > li {
    width: 33%;
    text-align: left;
  }

  #demais-contatos > div > ul > li > a > #logo-youtube {
    width: 90%;
  }

  #demais-contatos > div > p {
    text-align: left;
  }

  #contato > h2 {
    text-align: left;
  }

  #largura-rodape {
    width: 85%;
    height: 100%;
    margin: auto;
  }

  footer {
    text-align: left;
  }
}