@charset "UTF-8";

/* Typical Device Breakpoints 

-----------------------------

Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) and (max-width: 992px) {

  header {
    height: 70px;
  }

  #largura-menu {
    display: flex;
    align-items: center;
    height: 70px;
  }

  header h1 {
    text-align: left;
    font-size: 1.2em;
    padding: 0px;
    width: 50%;
  }

  #burguer {
    display: none;
  }

  header #items {
    display: block;
    width: 50%;
  }

  header > #largura-menu > nav > ul {
    float: right;
  }

  header > #largura-menu > nav > ul > li {
    display: inline-block;
    list-style-type: none;
  }

  header > #largura-menu > nav > ul > li > a {
    padding: 0px;
    font-size: 1em;
    margin-left: 15px;
  }

  header > #largura-menu > nav > ul > li > a:hover {
    background-color: transparent;
  }

  #sobre {
    height: 400px;
    padding: 0px;
    margin-top: 20px;
  }

  #imagem {
    float: left;
    height: 90%;
    width: 50%;
  }

  #texto {
    float: right;
    height: 100%;
    width: 50%;
    padding: 10px 0px 0px 20px;
  }

  #texto > h2 {
    text-align: left;
    margin: 0px;
    margin-bottom: 10px;
  }

  .icones {
    width: 80%;
    text-align: left;
    float: left;
    margin: 10px auto;
  }

  #contato {
    height: 500px;
  }

  #dados {
    height: 85%;
  }

  #formulario {
    float: left;
    width: 50%;
    height: 100%;
  }

  #formulario > h2 {
    padding: 0px;
    padding-bottom: 20px;
  }

  #demais-contatos {
    float: right;
    width: 50%;
    height: 100%;
    margin: 0px;
  }

  #demais-contatos > div > h2 {
    text-align: left;
  }

  #demais-contatos ul {
    float: left;
  }
}